steps:
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container image'
  env:
    - 'DOCKER_BUILDKIT=1'
  args:
    [
      'build',
      '-f',
      '$_MAIN_DOCKERFILE',
      '--build-arg',
      'GOOGLE_CLOUD_PROJECT=$PROJECT_ID',
      '-t',
      '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_MAIN_IMAGE:$_TAG',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container image'
  args:
    [
      'push',
      '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_MAIN_IMAGE:$_TAG'
    ]
    
# ==========================================================
# 1. BACKEND PIPELINE
# ==========================================================
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build Backend'
  env:
    - 'DOCKER_BUILDKIT=1'
  args: [
    'build', '.',
    '-t', '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_BACKEND_IMAGE:$_TAG',
    '-f', '$_BACKEND_DOCKERFILE'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push Backend'
  args: ['push', '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_BACKEND_IMAGE:$_TAG']
  waitFor: ['Build Backend']

- name: 'gcr.io/cloud-builders/gcloud'
  id: 'Deploy Backend'
  args: [
    'run', 'deploy', 'backend',  # Service name matches your Python script
    '--image', '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_BACKEND_IMAGE:$_TAG',
    '--region', '$_REGION',
    '--platform', 'managed',
    '--memory', '2Gi',            # CRITICAL: Fixes the OOM crash
    '--allow-unauthenticated'     # Makes the API public so Frontend can reach it
  ]
  waitFor: ['Push Backend']


# ==========================================================
# 2. FRONTEND PIPELINE (Runs in Parallel)
# ==========================================================
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build Frontend'
  env:
    - 'DOCKER_BUILDKIT=1'
  args: [
    'build', '.',
    '-t', '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_FRONTEND_IMAGE:$_TAG',
    '-f', '$_FRONTEND_DOCKERFILE'
  ]
  waitFor: ['-'] # Start immediately (don't wait for backend)

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push Frontend'
  args: ['push', '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_FRONTEND_IMAGE:$_TAG']
  waitFor: ['Build Frontend']

- name: 'gcr.io/cloud-builders/gcloud'
  id: 'Deploy Frontend'
  args: [
    'run', 'deploy', 'frontend',
    '--image', '$_REGION-docker.pkg.dev/$PROJECT_ID/$_REPO/$_FRONTEND_IMAGE:$_TAG',
    '--region', '$_REGION',
    '--platform', 'managed',
    '--allow-unauthenticated'
  ]
  waitFor: ['Push Frontend']

options:
  logging: CLOUD_LOGGING_ONLY

substitutions:
  _REGION: europe-west1
  _REPO: mlops-container-images
  _TAG: latest
  _MAIN_IMAGE: main
  _MAIN_DOCKERFILE: dockerfiles/main.dockerfile
  _BACKEND_IMAGE: backend
  _BACKEND_DOCKERFILE: dockerfiles/backend.dockerfile
  _FRONTEND_IMAGE: frontend
  _FRONTEND_DOCKERFILE: dockerfiles/frontend.dockerfile
