name: "Run tests"

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]


    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 2

    - name: Authenticate to GCP
      if: ${{ env.GCP_SERVICE_ACCOUNT_KEY != '' }}
      uses: google-github-actions/auth@v3
      with:
        credentials_json: ${{ env.GCP_SERVICE_ACCOUNT_KEY }}

    - name: Confirm GCP secret present
      if: ${{ env.GCP_SERVICE_ACCOUNT_KEY != '' }}
      run: echo "GCP_SERVICE_ACCOUNT_KEY present, running dvc pull."

    - name: Skip DVC pull (missing secret)
      if: ${{ env.GCP_SERVICE_ACCOUNT_KEY == '' }}
      run: echo "Skipping dvc pull because GCP_SERVICE_ACCOUNT_KEY is not set."

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: "pip"
        cache-dependency-path: |
          requirements.txt
          requirements_dev.txt
          pyproject.toml

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_dev.txt
        pip install -e .
        pip install "pathspec>=0.12.1"
        pip install --upgrade certifi
        pip list

    - name: Fix SSL certs on macOS
      if: ${{ runner.os == 'macOS' }}
      run: echo "SSL_CERT_FILE=$(python -c 'import certifi; print(certifi.where())')" >> $GITHUB_ENV

    - name: Get data
      if: ${{ env.GCP_SERVICE_ACCOUNT_KEY != '' }}
      run: python -m dvc pull

    - name: Test with pytest
      run: |
        pytest tests/
