name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 2

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: "pip"
        cache-dependency-path: |
          requirements.txt
          requirements_dev.txt
          pyproject.toml

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_dev.txt
        pip install -e .
        pip list

    - name: Test with pytest
      if: matrix.os != 'ubuntu-latest'
      run: |
        pytest tests/

    - name: Test with coverage
      if: matrix.os == 'ubuntu-latest'
      run: |
        python -m pip install coverage
        coverage run --source=src -m pytest tests/
        coverage report -m
        coverage xml

    - name: Upload coverage artifact
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: |
          coverage.xml
          .coverage
